version: "{build}"
platform: x64
branches:
  only:
    - master
clone_depth: 10
skip_tags: true
test: off
deploy: off
environment:
  APM_TEST_PACKAGES: language-postcss

install:
  # Install Node.js to run any configured linters
  - ps: Install-Product node 5

build_script:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/atom/ci/master/build-package.ps1'))
